# Ignore the node_modules folder
node_modules

# Ignore the dist folder
dist

# Ignore the .git folder
.git

# Ignore the .vscode folder
.vscode

# Ignore the .idea folder
.idea

# Ignore the .DS_Store file
.DS_Store

# Ignore the .env file
.env

# Ignore the .env.local file
.env.local

# Ignore the .env.development file
.env.development

# Ignore the .env.production file
.env.production

# Ignore the .env.test file
.env.test

# Ignore the coverage folder
coverage

# Ignore the e2e folder
e2e

# Ignore the tmp folder
tmp

# Ignore the *.log files
*.log

# Ignore the *.swp files
*.swp

# Ignore the *.swo files
*.swo

# Ignore the *.db files
*.db

# Ignore the *.sqlite files
*.sqlite

# Ignore the *.sqlite3 files
*.sqlite3

# Ignore the *.pdf files
*.pdf

